.about-info {
  display: grid;
  gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    background: $portrait-full;
    width: 196px;
    height: 244px;
    margin: auto;
    border-radius: 50%;
    border: solid 3px $secondary-color;
  }

  .bio {
    grid-area: bio;
    font-size: 1.2rem;
  }

  h2 {
    margin-bottom: 0.3rem;
    color: $secondary-color;
  }

  h4 {
    margin-bottom: 0.6rem;
    font-style: italic;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    // box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    //   0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: lighten($primary-color, 12);
    padding: 0.5rem;
    border-bottom: $secondary-color 4px solid;
  }
}
