.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3.5rem;

  div {
    font-size: 1rem;
    border: 2px #fff solid;
    border-radius: 9px;
    margin-bottom: 2.65rem;
    @include easeOut;

    &:hover {
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}
