.contact-info {
  display: grid;
  grid-gap: 2rem;
  font-size: 1.5rem;
  text-align: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.email-box {
  grid-column: 1 / 1;
  grid-row: 1;
}

.linkedin-box {
  grid-column: 2 / 2;
  grid-row: 2;
}

.twitter-box {
  grid-column: 3 / 3;
  grid-row: 3;
}

.email-box,
.linkedin-box,
.twitter-box {
  border: 3px #fff solid;
  border-radius: 10px;
  padding: 1rem 0rem;
  @include easeOut;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
    padding: 2.5rem 3rem;
    @include easeOut;

    span {
      color: set-text-color($secondary-color);
    }
  }
}
