.contact-info {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: auto auto auto auto auto auto;

  #box-1 {
    grid-area: 1 / 1 / span 1 / span 2;
  }

  #box-2 {
    grid-area: 3 / 3 / span 1 / span 2;
  }

  #box-3 {
    grid-area: 5 / 5 / span 1 / span 2;
  }

  div {
    font-size: 1.7rem;
    border: 2px #fff solid;
    border-radius: 10px;
    text-align: center;
    padding: 1rem 0.5rem;
    margin-bottom: 2rem;
    -webkit-box-shadow: 0px 2px 4px 0.3px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 2px 4px 0.3px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 2px 4px 0.3px rgba(0, 0, 0, 0.8);
    @include easeOut;

    &:hover {
      padding: 2rem 2rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);

      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}
