main {
  align-items: center;
  text-align: center;

  .lg-heading {
    font-size: 4.1rem;
  }

  .sm-heading {
    font-size: 1.22rem;
    margin-bottom: 1rem;
    padding: 0.2rem 0rem;
  }
}

nav.menu {
  height: 100%;
  width: 100%;

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75%;
    transform: translate3d(-100%, 0, 0);
  }

  .nav-item {
    display: block;
    position: inherit;
    margin-top: 5%;
    top: -22%;
    margin-bottom: 10%;
  }

  .menu-branding {
    height: 25%;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: $portrait-small;
      width: 156px;
      height: 156px;
    }
  }
}

.about-info {
  grid-template-areas:
    "bioimage"
    "bio"
    "job1"
    "job2"
    "job3";

  grid-template-columns: 1fr;

  .bio-image {
    background: $portrait-small;
    width: 156px;
    height: 195px;
  }

  .bio {
    font-size: 1rem;
  }
}

.projects {
  grid-template-columns: repeat(2, 1fr);
}
