// Menu Button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 33px;
  top: 34px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 30px;
    height: 3px;
    margin: 0 0 5px 0;
    background: set-text-color($primary-color);
    @include easeOut;
  }

  // Rotate Into X With Menu Lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }

      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

// Menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: rgba(darken($primary-color, 12), 0.97);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      // Slide in from the top
      transform: translate3d(0, 0, 0);
    }
  }

  // Menu Branding - Left
  &-branding {
    background: rgba($primary-color, 0.9);
    transform: translate3d(0, 100%, 0);
    @include easeOut;

    &.show {
      // Slide in from the bottom
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      background: $portrait-full;
      width: 190px;
      height: 216px;
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      // Slide in from the right
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 32px;
    text-transform: uppercase;
    padding: 1rem 0;
    color: set-text-color($primary-color);
    text-decoration: none;
    transition: transform 0.04s;
    @include easeOut;

    &:hover {
      color: $secondary-color;
      transform: scale(1.4);
    }
  }
}

// Delay each nav item's slide by 0.1 seconds
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
