@import "config";
@import "menu";
@import "index";
@import "about";
@import "project";
@import "contact";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 300;

  &.lg-heading {
    font-size: 5rem;
    text-shadow: 0px 3.5px 6.5px 1px rgba(0, 0, 0, 0.3);
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 11), 0.7);
    -webkit-box-shadow: 0px 2.5px 4px 0.5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2.5px 4px 0.5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2.5px 14px 0.5px rgba(0, 0, 0, 0.4);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color(#000);
  height: 60px;
}

@import "responsive_changes";
